name: Update Poc from Issue Template
on:
  issues:
    types: ['opened', 'reopened']

env:
  TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions: write-all

jobs:
  update-poc:
    # 用于同一仓库下时，配置默认的 GITHUB_TOKEN 的权限，以能够 push 和 pull request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Blog Repo
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/1-poc.yml # optional but recommended

      - name: Show and copy issue-parser result
        run: |
          echo "+++++++ POC JSON +++++++"
          cat ${HOME}/issue-parser-result.json
          echo ""
          echo "++++++++++++++++++++++++"
          cp ${HOME}/issue-parser-result.json ./poc.json

      - name: pnpm install
        run: pnpm install

      - name: pnpm issue helper
        run: pnpm issue-helper && rm ./poc.json

      - name: Create Pull Request
        # reference: https://github.com/peter-evans/create-pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          # this GitHub Personal Access Token should have 'repo' scope to the forked repo
          # or any other way in this link:
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#workarounds-to-trigger-further-workflow-runs
          token: ${{ env.TOKEN }}
          branch: poc-contrib-${{ github.event.issue.number }}
          branch-suffix: timestamp
          title: 'contribute[#${{ github.event.issue.number }}]: poc snippet "${{ steps.issue-parser.outputs.issueparser_name }}"'
          body: |
            This PR adds a new poc snippet contributed by @${{ github.actor }} from issue #${{ github.event.issue.number }}.

            - Category: ${{ steps.issue-parser.outputs.issueparser_category }}
            - Tool: ${{ steps.issue-parser.outputs.issueparser_tool }}
            - Snippet Name: ${{ steps.issue-parser.outputs.issueparser_name }}
            - Trigger Prefix: ${{ steps.issue-parser.outputs.issueparser_prefix }}

            Thank you for your contribution! 
            Merge this PR will close #${{ github.event.issue.number }} automatically.

            if you get conflict, please feel free to contact maintainers to help you resolve it.
            Or just try close this PR and issue, edit your issue,open it again to trigger a new PR again.
          commit-message: 'contrib: a poc snippet to ${{ steps.issue-parser.outputs.issueparser_category }}/${{ steps.issue-parser.outputs.issueparser_tool }} - ${{ steps.issue-parser.outputs.issueparser_name }} from issue #${{ github.event.issue.number }}'
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          delete-branch: true